.putih {
    color: white;
}
.text {
    text-align: justify;
}
.teks {
    text-align: center;
}
.cokelat{
    color: coral;
}


.text1 {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    margin-top: 150px;
    font-size: 120PX;
    word-spacing: 10px;
    opacity: 0;
    transition: 1s;
    transform: translate(20px, 0) rotate(-90deg);


}
.text2{
    color: white;
    margin-top: -10px;
    opacity: 0;
    transition: 1s;
}


.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    border-radius: 15px;
    filter: grayscale();
    opacity: 0;
    transition: 1s;
}


#item-1{
    padding-bottom: 200px;
}

 #item-1  {
    padding-top: 40px;
 
}

#band{
   color: white; 
}






.text1.ada, .newt.ada, .text2.ada
 {
    opacity: 1;
    transform:translate(0,0) rotate(0deg);
}
